@import "../mixin", "../variables";

.header {
    width: 100%;
    height: 6vh;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: inset 0px 1px 8px rgb(94, 94, 94);

    &__container {
        @include container;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 6vh;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
    }

    &__cart {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.navigation {
    display: block;

    @media screen and (max-width: 768px) {
        display: none;
    }

    &__list {
        display: flex;
        flex-direction: row;
        gap: 25px;
        align-items: center;
    }

    &__item {
        font-size: 24px;

        &:hover .navigation__link::after {
            width: 30px;
        }
    }

    &__link {
        position: relative;
        font-size: 20px;

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 10px;
            left: 50%;
            bottom: -5px;
            border-bottom: 1px solid black;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transition: all .3s linear;
            -webkit-transition: all .3s linear;
            -moz-transition: all .3s linear;
            -ms-transition: all .3s linear;
            -o-transition: all .3s linear;
        }
    }

    &.open {
        display: flex;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 30px 30px 0 30px;
        background-color: gray;
    }
}

.navigation.open .navigation__list {
    flex-direction: column;
    gap: 50px;
}


.burger {
    display: none;

    @media screen and (max-width: 768px) {
        display: flex;
        width: 25px;
        height: 25px;
        align-items: center;
        position: relative;
        &.active{
            position: absolute;
            right: 30px;
            top: 30px;
        }
        & span {
            width: 100%;
            display: block;
            border-top: 1px solid black;
        }

        &.active span {
            display: none;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-top: 1px solid black;
            transition: all .3s linear;
            -webkit-transition: all .3s linear;
            -moz-transition: all .3s linear;
            -ms-transition: all .3s linear;
            -o-transition: all .3s linear;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom: 1px solid black;
            transition: all .3s linear;
            -webkit-transition: all .3s linear;
            -moz-transition: all .3s linear;
            -ms-transition: all .3s linear;
            -o-transition: all .3s linear;
        }
    }

    &.active::before {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
        -webkit-transform: rotate(45deg) translate(0, 50%);
        -moz-transform: rotate(45deg) translate(0, 50%);
        -ms-transform: rotate(45deg) translate(0, 50%);
        -o-transform: rotate(45deg) translate(0, 50%);
    }

    &.active::after {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
        -webkit-transform: rotate(-45deg) translate(0, -50%);
        -moz-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%);
        -o-transform: rotate(-45deg) translate(0, -50%);
    }
}